apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: monitoring
  namespace: monitoring
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
    namespace: flux-system
  install:
    createNamespace: false
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
  valuesFrom:
    - kind: ConfigMap
      name: kube-prometheus-stack-grafana-datasources
      valuesKey: loki-source.yaml
